<ng-container *ngIf="!loading">
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      *ngFor="let tile of tiles; let i = index"
      [attr.data-index]="i"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color"
    >
      <ng-container *ngIf="i === 0">
        <mat-card style="padding: '10px'; margin: auto;">
          <mat-form-field appearance="fill">
            <mat-label>Seleziona job</mat-label>
            <mat-select
              (selectionChange)="onJobHandler()"
              [(ngModel)]="selected"
              name="job"
            >
              <mat-option *ngFor="let jobs of jobList" [value]="jobs.job">
                {{ jobs.job }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="margin-left: 10px" appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input
              [disabled]="disableDatePicker"
              [formGroup]="range"
              [rangePicker]="picker"
            >
              <input
                matStartDate
                formControlName="start"
                placeholder="Start date"
              />
              <input matEndDate formControlName="end" placeholder="End date" />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>

            <mat-error
              *ngIf="range.controls.start.hasError('matStartDateInvalid')"
              >Invalid start date</mat-error
            >
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
              >Invalid end date</mat-error
            >
          </mat-form-field>
          <button
            class="pulse"
            style="margin-left: 10px"
            (click)="onDateHandler()"
            mat-raised-button
            color="primary"
          >
          <mat-icon aria-hidden="false" aria-label="refresh icon">refresh</mat-icon> AGGIORNA

          </button>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="showResult && !noData">
        <ng-container *ngIf="i === 1">
          <app-data-card
            label="Chiamate totali"
            value="{{ totalRequests }}"
          ></app-data-card>
          <app-data-card
            style="margin-left: 30px"
            label="Tempo Risposta Medio"
            value="{{ averageTime }}"
          ></app-data-card>
          <app-data-card
            style="margin-left: 30px"
            label="Errori Totali"
            value="{{ totalErrors }}"
          ></app-data-card>
        </ng-container>

        <ng-container *ngIf="i === 2">
          <app-line-chart
            startDate="{{ range.value.start }}"
            endDate="{{ range.value.end }}"
            [data]="filteredData"
          ></app-line-chart>
          <app-bar-chart
            value1="{{ value1 }}"
            value2="{{ value2 }}"
            value3="{{ value3 }}"
            value4="{{ value4 }}"
          ></app-bar-chart>
          <app-pie-chart
            percentageSucceed="{{ percentageSucceed }}"
            percentageError="{{ percentageError }}"
          ></app-pie-chart>
        </ng-container>

        <ng-container *ngIf="i === 3">
          <app-queue style="margin-top: 0;" [data]="filteredData"></app-queue>
        </ng-container>
      </ng-container>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>
<ng-container *ngIf="loading">
  <app-spinner></app-spinner>
</ng-container>
<div class="center" *ngIf="!showResult && !loading">NO DATA FOUND</div>
